:root {
  --color-primary: #90ffda;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
