.header {
  color: #fff;
  background-color: var(--color-primary);

  position: relative;

  &__container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-link {
  display: block;
  margin-top: 4px;
}
.logo__icon {
  width: 20px;
  height: 20px;
}

.nav {
  &__list {
    font-family: var(--font-secondary), sans-serif;
    text-transform: uppercase;
    list-style: none;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      padding: 18px 20px;
    }
    padding: 18px 0 18px 20px;
  }

  &__link {
    transition: all 0.3s ease;
  }

  &__btn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 10px 10px 25px;
    transform: translateX(25%);
    color: #fff;
    transition: color 0.3s ease;

    @media (max-width: 768px) {
      display: block;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--color-hover);
      }
    }
  }

  &__icon {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      transition: all 0.3s ease;
    }

    &::before {
      bottom: 3px;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #fff;
    }

    &::after {
      top: 2px;
      right: 0;
      width: 12px;
      height: 2px;
      background-color: #fff;
    }

    &.open::after {
      top: -1px;
      width: 20px;
      transform: rotate(-45deg);
      transform-origin: right;
    }

    &.open::before {
      right: -6px;
      bottom: 14px;
      transform: rotate(45deg);
      transform-origin: left;
    }
  }
}
